USE [master]
GO

IF NOT EXISTS 
    (SELECT name  
     FROM master.sys.server_principals
     WHERE name = 'datafeed_user')
BEGIN
    CREATE LOGIN [datafeed_user] WITH PASSWORD = N'TestPassword!'
    , DEFAULT_DATABASE=[GenscapeDataFeed]
	, CHECK_EXPIRATION=OFF
	, CHECK_POLICY=OFF
END

GO
USE [GenscapeDataFeed]
GO
CREATE USER [datafeed_user] FOR LOGIN [datafeed_user]
GO
USE [GenscapeDataFeed]
GO
ALTER ROLE [db_owner] ADD MEMBER [datafeed_user]
GO
